<div class="max-w-lg rounded overflow-hidden shadow-lg my-3" data-controller='posts'>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= @post.title %></div>
    <p class="text-gray-700 text-base"><%= @post.content %></p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
    <% if (@post.user.id === @current_user.id) %>
      <%= link_to 'DELETE', group_post_path(@post.group, @post.id), data: { "turbo-method": :delete }, class: 'inline-block cursor-pointer bg-red-500 hover:bg-red-300 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2' %>
    <% end %>
  </div>
</div>

