<% if notice %>
  <div class="mb-2 px-4 py-4 text-green-800 bg-green-100 rounded shadow-md shadow-green-500/50" role="alert">
    <%= notice %>
  </div>
<% end %>


<% if alert %>
  <div class="mb-2 px-4 py-4 text-red-800 bg-red-100 rounded shadow-md shadow-red-500/50" role="alert">
    <%= alert %>
  </div>
<% end %>
